body{
    padding: 0; 
    margin: 0;
    font-family: Arial, Helvetica, sans-serif; 
    background-color: lightskyblue; 
    display: flex; 
    flex-direction: column; 
}


header {
    background: url(vatten.jpg); 
    text-align: center; 
}

header p{
    color: black;   
    font-size: 60px; 
    text-shadow: 1px 1px 2px red, 0 0 25px white, 0 0 5px white; 
}

.content{
    padding: 20px; 
    background-color: darkcyan; 
}

.info #rules{
    border-bottom: 3px solid black;  
    text-align: center; 
}

.rule{
    background-color: white; 
    padding: 20px; 
    width: 500px; 
    position: absolute; 
    left: 500px; 
    top: 350px;
}
